@use './variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: bacground-color .5s ease ;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: bacground-color .5s ease ;


        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }
        }

        // // O trecho de codigo acima de maneira resumida é o mesmo que abaixo,

        // .header__logo {
        //     opacity: 0;
        // }
        // .header__links__item:first-child {
        //     opacity: 0;
        // }
    }


    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-height: 768px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media (max-height: 768px) {
            max-width: 64px;
        }
    }

    &__links {
        display: flex;


        &__item {
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button {
        height: 50px;

        @media (max-height: 768px) {
            font-size: 12px;
            padding: 8px 8px;
            height: 40px;
        }
    }
}