@use './variaveis';

.plans{
    padding: 5.6vw;

    h2 {
        text-align: center;
        color: variaveis.$corTextoSegundario;
        font-size: 82px;

        @media (max-width: 768px) {
            font-size: 26px;
        }
        
    }

    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        @media (max-height: 768px) {
            display: block;
        }
        
        
        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            &:nth-child(2){
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            
            strong{
                display: block;
                margin-top: 24px;
            }

            @media (max-height: 768px) {
                img{
                    width: 100%;
                }
            }
        }
    }

    p{
        text-align: center;
    }
}